*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    color:rgb(11, 3, 124);
    text-align: center;
    background-color: lightgreen;
}
header h1{
    text-align: center;
    margin: 0px;
    padding: 20px;
}
header sub{
    position: relative;
    left:70px;
    top:-25px;
}
.main1{
    text-align: center;
    background-color: rgb(137, 247, 232);
    padding: 10px;
}
.ask-btn{
    position: relative;
    float: right;
    right: 100px;
    top: -65px;
    border: 1px solid navy;
    border-radius: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    background-color: lightskyblue;
    color: navy;
    padding: 5px 10px;
}
.ask-btn:hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 7px;
}
.videos-btn{
    float: right;
    position: relative;
    right: 125px;
    top: -65px;
    border: 1px solid navy;
    border-radius: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    background-color: lightskyblue;
    color: navy;
    padding: 5px 10px;
}
.videos-btn:hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 7px;
}
.main1{
    position: relative;
    top: 0px;
    display: block;
    background-color: white;
}
.main1 input{
    position: relative;
    left: 8%;
    color: lightskyblue;
    border-radius: 20px;
    width: 40%;
    border-color: lightskyblue;
    padding: 3px;
    padding-left: 20px;
    text-indent: 13px;
    height: 35px;
    outline: none;
}
.main1 input:focus{
    border-radius: 20px;
    width: 40%;
    border-color: lightskyblue;
    outline: none;
    
}
.main1 input:hover{
    box-shadow: 5px 5px 10px gray;
}
.main1 input::placeholder{
    color: lightskyblue;
    padding: 5px;
    padding-left: 0px;
}
i { 
    position: absolute;
    left: 32%;
    padding-top: 10px; 
    color: lightskyblue;
    z-index: 1;
}
.search-btn{
    border-radius: 7px;
    border: 1px solid navy;
    padding:6px 10px;
    color: navy;
    background-color: lightskyblue;
}
.search-btn:hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 7px;
}
.main2{
    position: relative;
    top:0px;
    display: none;
    float: left;
    width: 80%;
    left:10%;
}
.main2 h5{
    color: lightskyblue;
    text-indent: 10px;
}
.post-btn:hover, .cancle-btn:hover, .read-btn :hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    outline: none;
    background-color: lightskyblue;
    color: aliceblue;
    padding: 5px 10px;
}
button:active{
    outline: none;
}

/* .icon { 
    padding: 10px; 
    min-width: 40px; 
}  */
textarea{
    border-radius: 5px;
}
textarea:focus, input:focus{
    outline: none;
}


.main3{
    width: 100%;
    height: 150px;
    display: none;
}
.main3 .post-btn {
    float: right;
    position: relative;
    right: 115px;
    border: none;
    border-radius: 10px;
    padding: 2px 15px;
}
.main4{
    position: relative;
    left: 9.5%;
    top: 25px;
    width:81%;
    height: 550px;
    border: 1px solid blue;
    display: none;
    float: left;
}
.main4 > .card{
    position: relative;
    top:5px;
    left:1%;
    width:27%;
    height: 250px;
    border: 1px solid pink;
}
.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
    height: 60px;
}
.accordion button:active, .accordion button:hover{
    outline: none
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    outline: none;
}

.accordion.active:after {
    content: "\2212";
}

.acc-panel {
    width: auto;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow: hidden;
    transition: max-height .5s ease;
}

.acc-panel textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
#query-area{
    height: 100px;
    width: 98%;
    background-color: lightskyblue;
    padding: 10px;
    color: lightslategray;
    margin: 1%;
}
.post-btn{
    float: right;
    position: relative;
    right:75px;
    border: none;
    border-radius: 10px;
    padding: 2px 15px;
}
.cancle-btn{
    float: right;
    right:100px;
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 2px 15px;
}
.read-btn{
    float: left;
    position: relative;
    left: 20px;
    border: none;
    border-radius: 10px;
    padding: 2px 15px;
}
.popup{
    width: 30%;
    height: 250px;
    position: relative;
    top:20px;
    left: 35%;
    background-color:lightpink;
    color: navy;
    text-align: center;
    padding:80px 20px;
    display: none;
    border: 1px solid navy;
    border-radius: 8px;
}
.popup-btn{
    position: absolute;
    right: 45%;
    bottom: 30px;
    padding: 2px 10px;
    background-color: lightskyblue;
    color: navy;
    border: 1px solid navy;
    border-radius: 5px;
    outline: none;
}
.popup-btn:hover{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
footer{
    position: fixed;
    top: 712px;    
    height: 40px;
    background-color: springgreen;
    color: navy;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px;
}
